@font-face {
    font-family: "poppins";
    src: url("Poppins-Regular.ttf");
}

@font-face {
    font-family: "poppins-bold";
    src: url("Poppins-Bold.ttf");
}

@font-face {
    font-family: "classical";
    src: url("Classical.ttf");
}

@font-face {
    font-family: "classical-bold";
    src: url("ClassicalBold.ttf");
}

html {
    scroll-behavior: smooth;
}

h1 {
    margin: 0;
    padding: 0;
    line-height: 70%;
}

h2 {
    color: #3B547C;
    font-family: poppins-bold;
    text-transform: uppercase;
    font-size: 3vw;
    letter-spacing: 0.1em;
}

p {
    font-family: poppins;
    font-size: 1vw
}

.subheading {
    font-family: poppins;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.5vw;
    letter-spacing: 0.1em;
}

body {
    width: 100;
}

#lisa-logo {
    width: 4vw;
    /* flex-basis: 10%; */
    position: relative;
}

nav{
	width: 90%;
    position: sticky;
    z-index: 1;
    display: flex;
    align-items: center;
    margin: 3% 5% 0% 5%;
}

.nav-links{
    flex: 1;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-family: poppins;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1vw;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
}

.nav-links ul li a:hover,
.nav-links ul li a.active {
    color: #C57C8E;
}

#language {
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1vw;
}

.title {
    height: 20vw;
    margin: 2vw 5% 0 5%;
}


.heading-script {
    font-family: classical;
    font-size: 8vw;
    font-weight: 100;
    color: #C57C8E;
}


.heading {
    font-family: poppins-bold;
    font-size: 4vw;
    text-transform: uppercase;
    color: #3B547C;
    /* opacity: 0.6; */
    letter-spacing: 0.1em;
    /* -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1); */
}

#portfolio {
    position: absolute;
    margin-top: -2.98vw;
    margin-left: 4.6vw;
}

.heading-shadow {
    font-family: poppins-bold;
    font-size: 4vw;
    text-transform: uppercase;
    color: #CEE2E1;
    letter-spacing: 0.1em;
}

#portfolio-shadow {
    margin-left: 5vw;
}

#topintro {
    margin-top: 3%;
    font-size: 1.13vw;
    text-transform: capitalize;
}

#portrait-illust {
    width: 40%;
    /* position: relative; */
    float: right;
    margin-top: 0;
}

#welcome {
    font-family: poppins;
    font-size: 1.4vw;
    text-transform: uppercase;
    color: #CEE2E1;
    letter-spacing: 0.1em;
    position: absolute;
    color: #3B547C;
    margin-top: 7.5vw;
    margin-left: 62.4%;

}

.topcopy {
    width: 50%;
    float: left;
    margin-top: 6vw;
    
}

#seework {
    border: 3px solid #E1B0BC;
    color: black;
    padding: 0.5vw 1.5vw;
    margin-top: 1vw;
    border-radius: 1px;
    text-align: center;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
	position: relative;
	opacity: 1;
    font-family: poppins;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-transform: uppercase;
}

#seework:hover,
#seework.active {
    background-color: #E1B0BC;
}

#motto {
    width: 100vw;
    min-height: 200px;
    background-color: #3B547C;
    width: 100%;
    color: white;
    margin-top: 20vh;
}

#motto h3 {
    margin: 5%;
    padding-top: 5%;
}

.description-box {
    /* min-height: 20vmax; */
    height: 25vw;
    width: 94%;
}

/* .description-box h2, .description-box p {
    margin-left: 5%;
    margin-right: 5%;
    width: 40%
} */

#solutions {
    background-color: #F3CFD8;
    float: right;
    margin-top: 12%;
    border: 5px solid #C57C8E;
}

#solutions-copy {
    float: right;
    width: 40%;
    margin-right: 5%;
}

#solutions-example {
    width: 30vw;
    float: left;
    margin-top: 8%;
    margin-left: 10%;
    position: absolute;
}


#creativity {
    background-color: #CEE2E1;
    float: left;
    border: 5px solid #6CA7A3;
    margin-top: 10%;
}

#creativity-copy {
    float: left;
    width: 40%;
    margin-left: 5%;
}

#creativity-example {
    width: 45vw;
    float: right;
    margin-top: 45%;
    margin-left: 45%;
    position: absolute;
}

footer {
    /* margin-top: 80vw; */
    /* position: absolute; */
    bottom: 0;
    background-color: #3B547C;
    /* position: relative; */
    height: 10vw;
    color: white;
}

footer p {
    padding-top: 2%;
    padding-left: 5%;
}

#bio {
    margin: 2vw 0 0 5%;
    float: right;
}

#about {
    /* float: right; */
    position: absolute;
    margin-top: -0.2vw;
    margin-left: 53.7vw;
}

#about-shadow {
    float: right;
    position: absolute;
    margin-left: 54vw;
    /* position: absolute;
    margin-left: 73vw; */

}

#lisa-portrait {
    width: 25vw;
    float: left;
    margin-left: 10%;
    position: absolute;
}

#about-me {
    background-color: #F3CFD8;
    float: right;
    margin-top: 6vw;
    border: 5px solid #C57C8E;
}


#about-copy {
    float: right;
    width: 40%;
    margin-right: 5%;
}

#about-copy p {
    margin-top: 5%;
    margin-right: 5%;
}

#skills-heading {
    height: 50px;
}

#my-skills {
    height: 45vw;
    margin: 45vw 0 0 5%;
}

#skills {
    /* float: right; */
    position: absolute;
    margin-top: 0vw;
    margin-left: 0vw;
}

#skills-shadow {
    /* float: right; */
    position: absolute;
    margin-top: 0.4vw;
    margin-left: 0.4vw;
    /* margin-left: 73vw; */

}

#circles {
    margin: auto;
    width: 100vw;
    margin-top: 1vw;
}

/* #circles h3 {
    display: inline-block;
    margin-top: 4vh;
    margin-left: 0vh;
    float: right;
    text-transform: uppercase;
    font-size: 1.5vw;
    letter-spacing: 0.1em;
} */

/* #circles p {
    display: inline-block;
    float: right;
    font-size: 1vw;
} */

.circle {
    height: 12vw;
    width: 12vw;
    background-color: #C57C8E;
    border-radius: 50%;
    display: inline-block;
    float: left;
}

.one-circle {
    width: 36vw;
    float: left;
    margin-top: 5vw;
    margin-right: 10vw;
}

.circle-copy {
    display: inline-block;
    margin-top: 2vw;
    margin-left: 0vh;
    float: right;
    width: 53%;
}


.side-menu {
    margin-top: 0vw;
    float: left;
    width: 20%;
    height: 10vw;
    position: fixed;
}

#work {
    /* float: right; */
    position: absolute;
    margin-top: 2vw;
    margin-left: 0vw;
}

#work-shadow {
    /* float: right; */
    position: absolute;
    margin-top: 2.4vw;
    margin-left: 0.4vw;
}

.work-links {
    padding-top: 15vw;
    /* flex: 1; */
    /* text-align: center; */
    font-style: normal;
    font-weight: 400;
    font-family: poppins;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1vw;
}

.work-links ul li{
    list-style: none;
    /* margin: 0 30px; */
}

.work-links ul li a{
    color: black;
    text-decoration: none;
}

.work-links ul li a:hover,
.work-links ul li a.active {
    color: #C57C8E;
}

.work-thumbnails {
    float: right;
    width: 60%;
    margin-right: 5%;
    height: 200vw;
}

.thumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5%;
}

.square {
    /* width: 15vw;
    height: 15vw; */
    /* background-color: gray; */
    /* flex: 1;
    margin-right: 20px; */
    aspect-ratio: 1;
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


#digital-heading, #uiux-heading {
    margin-top: 60vh;
}

/* #digital-thumbnails, #uiux-thumbnails {
    margin-top: vw;
} */

.container {
    min-height: 30vh;
    max-height: 170vh;
}

.description {
    width: 100%;
    height: 80vw;
}

.work-content {
    width: 100%;
    height: 210vw;
}

.work-photo {
	width: 100%;
}

.work-container {
    margin: 5%;
}

.back-button {
    border: none;
    color: black;
    padding: 0.5vw 1.5vw;
    margin-top: 1vw;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    font-family: poppins;
    cursor: pointer;
    text-transform: uppercase;
    /* height: 3em; */
}

.back-button img {
    width: 1.8em;
    /* float: left; */
    position: absolute;
    margin: 0;
    /* display: inline-block; */
    /* margin-top: 3em; */
    
}

.back-button h5 {
    /* display: inline-block; */
    /* float: right; */
    margin-left: 2vw;
    margin-top: 0.3vw;
    font-size: 1vw;
    /* position: absolute; */
}

.icons {
    width: 12vw;
    margin-top: 2%;
}