h1 {
    text-align: center;
    color: #3B547C;
    font-family: poppins-bold;
    text-transform: uppercase;
    font-size: 3vw;
    letter-spacing: 0.1em;
}

h2 {
    text-align: center;
    color: black;
    font-family: poppins;
    font-size: 2vw;
}

img {
    width: 8vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}